html, body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.gradient{
  height: 85% !important;
  background: #ffffff !important; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 37%, #9e9e9e 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 37%, #9e9e9e 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 37%, #9e9e9e 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
}

@-webkit-keyframes autofill {
    to {
        color: #000;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

img{
  max-width: 100%;
  max-height: 100%;
}

#quill-container{
  height: 100%;
}

#editor{
  font-size: 15px;
}

.right{
  min-width: 9%;
}

.right li{
  width: 100%;
}

.ql-syntax{
  border-radius: 1vh;
  padding: 0 !important;
  margin-top: 1vh !important;
}

.collapsible-body{
  padding: 1vh 0 1vh 2vh;
}

.doc-titulo{
  margin-bottom: 3vh !important;
}

.left-margin{
  padding-left: 5vh !important;
}

#nav-mobile > li > a{
  font-size: 18px;
}

#nav-mobile > li > a:hover{
  background-color: #0d47a1;
}

.drop-item:hover{
  background-color: rgba(43,101,191,1) !important;
}

.brand-logo{
  font-size: 3.5vh !important;
}

.codeicon{
  font-size: 3rem;
}

h2{
  font-size: 48px;
}

.container > p{
  font-size: 18px;
  width: 100%;
}

.center-btn{
  text-align: center;
}

h3{
  font-size: 28px;
}

#icon{
  position: relative;
  top: 6vh;
  right: 3vh;
}

.center-icon{
  text-align: center;
  margin-right: 3vh;
}

h5{
  font-size: 18px;
}

h1{
    font-size: 3.5em;
}

.blackline{
    border-top: 2px soid black;
}

.itens{
    margin-left: 5vh;
}

.picker__date-display{
    background-color: #0d47a1 !important;
}

[type="checkbox"].filled-in:checked + label:after{
  background-color: #0d47a1 !important;
  border-color: #0d47a1 !important;
}

.cancel:hover{
  background-color: white !important;
}

#selecteds{
  border-bottom: none !important;
  box-shadow: none !important;
}

.input-field input[type=text]:focus + label {color:#0d47a1 !important;}
.input-field input[type=text]:focus {border-bottom: 1px solid #0d47a1 !important;box-shadow: 0 1px 0 0 #0d47a1 !important;}
.input-field input[type=email]:focus + label {color:#0d47a1 !important;}
.input-field input[type=email]:focus {border-bottom: 1px solid #0d47a1 !important;box-shadow: 0 1px 0 0 #0d47a1 !important;}
.input-field input[type=password]:focus + label {color:#0d47a1 !important;}
.input-field input[type=password]:focus {border-bottom: 1px solid #0d47a1 !important;box-shadow: 0 1px 0 0 #0d47a1 !important;}
